/* body {
} */

h1{
    text-align: center;
}

/* .calendar {
    margin: auto;
    max-width: 800px;
    font-family: serif;
    font-weight: bold;
    color: black;
} */

.month {
    /* flex-basis: calc(25% - 20px);  */
    background: white;
    border: 2px solid rgb(95, 95, 150);
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px; 
    /* width: calc(25% - 20px); */
    margin-right: 20px;
    margin-bottom: 20px; 
    /* vertical-align: top; */
}

.months {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

table {
    width: 100%;
    text-align: center;
    font-size: 16px; 
    border-collapse: collapse;
    border: 2px solid black; 
    font-family: Arial, Helvetica, sans-serif; 
}

th {
    background: rgb(20, 37, 220);
    color: rgb(171, 171, 171);
    font-weight: bold; 
}

td {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0); 
}


table td:empty {
    border: none;
}
